<!-- <div class="slider_css">
  <%# <%= render "layouts/slider", slider_images: @slider_images %>
</div> -->

<div class="main-img">
   <%= image_tag "main.png" %>
</div>

<section class="mt50" data-aos="fade-up">
    <div class="container" data-aos="fade-up">
        <%= render partial: "shared/pagetitle", locals: { pagetitle: '主要取引先企業' } %>
        <div class="row">
          <div class="col-md-3">
            <%= image_tag "partner/logo-fuji-kogyosho.png"%>
          </div>
          <div class="col-md-3">
            <%= image_tag "partner/logo.png"%>
          </div>
          <div class="col-md-3">
            <%= image_tag "partner/logo-arvas.png"%>
          </div>
          <div class="col-md-3">
            <%= image_tag "partner/logo-forrest-gump.png"%>
          </div>
        </div>
    </div>
</section>

<section data-aos="fade-up">
  <div class="container" data-aos="fade-up">
        <%= render partial: "shared/banner" %>
  </div>
</section>
<section class="gf-jobs" data-aos="fade-up">
    <div class="container">
        <%= render partial: "shared/pagetitle", locals: { pagetitle: '求人情報一覧' } %>
        <%= render partial: "jobs/job_item", locals: {jobs: @jobs} %>
        <div class="text-center mt30">
            <%= link_to t(".btn_all_job"), jobs_path, class: "button" %>
        </div>
    </div>
</section>

<!-- <section class="gf-messages" data-aos="fade-up">
    <%= render "message" %>
</section> -->

<section data-aos="fade-up" class="post-wrapper mt30">
    <%= render partial: "shared/pagetitle", locals: { pagetitle: 'ジャパン・ベトナム　コネクションからのお知らせ' } %>
    <div class="container">
        <div class="row">
            <%= render partial: "shared/post", locals: {posts: @posts} %>
        </div>

        <div class="text-center mt30">
            <%= link_to t(".btn_all_posts"), posts_path, class: "button" %>
        </div>
    </div>
</section>

<%= render "shared/contact_form" %>
